:root {
    --primary-color: #6e6e6e;
    --secondary-color: #BCFD4C;
}


header {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 1%;
}

h1 {
    font-size: 500%;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

img {
    height: 80px;
}

li {
    list-style: none;
    display: inline;
    font-size: 200%;
}

.profile-picture {
    border-radius: 45px;
}

.list-flex {
    display: flex;
    justify-content: space-around;
}